.contenedor{
    width: 100%;
    padding: 30px 12%;
    padding-left: calc(12% + 20px);
}
.prod {
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(185, 185, 185);
    border-radius: 15px !important;
}
.prod:hover {
    transform: translateY(-2.5px);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.7);
}
button.mat-raised-button:hover{
    background-color: green;
}
.image {
    height: 350px;
}