<mat-toolbar color="primary">
    <span class="fill-remaining-space">Ordenar</span>
    <mat-icon class="icon" (click)="close()">close</mat-icon>
  </mat-toolbar>
  
  <div class="container" *ngIf="!post; else forminfo"> 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  
      <mat-form-field class="form-element">
        <textarea matInput placeholder="Domicilio" formControlName="description" [(ngModel)]="address"></textarea>
        <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
          Campo requerido, debe ser de entre 10 y 100 caracteres;
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="form-element">
        <input matInput placeholder="Total" formControlName="total" [value]="total | currency" [readonly]="true">
      </mat-form-field>
  
      <!--<div class="form-element">
        <mat-checkbox formControlName="validate" value="1">Solo reserva</mat-checkbox>
      </div>-->
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.controls['description'].valid">Pedir</button>
      </div>
      
    </form>
  </div>
  
  <ng-template #forminfo>
    <div class="container">
      {{ post | json }}
    </div>
    
  </ng-template>