<div class="contenedor">
  <mat-toolbar color="primary">
    <span class="fill-remaining-space">Carro de compras</span>
  </mat-toolbar>
  <table mat-table [dataSource]="products" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Opciones </th>
        <td mat-cell *matCellDef="let element"> 
          <button class="btn btn-danger" style="margin-left: 10px;" (click)="delete(element)"><mat-icon>delete</mat-icon> </button>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice | currency}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> 
           <img [src]="getSantizeUrl(element.img)">
        </td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-raised-button color="primary" (click)="alert(element)" >Ver</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
    <br>
    <mat-toolbar color="primary">
      <span class="fill-remaining-space"><h1 align="center"> Total: {{total | currency}}</h1></span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="primary" (click)="openDialog()" class="check">Ordenar</button>
    </mat-toolbar>
    <br>

</div>