.contenedor{
    padding: 30px 8%;
}
table {
    width: 100%;
}
.mat-elevation-z8 {
    font-size: xx-large;
}
button.check{
    height: 70%;
    background-color:green;
}
button.check:hover{
    background-color: darkgreen;
}
.example-spacer {
    flex: 1 1 auto;
}
th{
    font-size: large;
    font-weight: 800;
}
td{
    font-size: medium;
    font-weight: 600;
}
img{
    max-width: 350px;
    max-height: 250px;
}