<p>product works!</p>

<div class="container">
    <button (click)="ListProduct()"  class="btn btn-info"> Lista de Productos </button>
    <button class="btn btn-info"  style="margin-left: 10px; "> Agregar Producto</button>
</div>
<li></li>


  
  <div class="container col-md-6" > 
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  
  

  
      <mat-form-field class="form-element">
        <input matInput placeholder="Imagen" formControlName="img">
      </mat-form-field>

      <mat-form-field class="form-element">
        <textarea matInput placeholder="Descripcion del Producto" formControlName="productDescription"></textarea>
        <mat-error *ngIf="!formGroup.controls['productDescription'].valid && formGroup.controls['direction'].touched">
          Campo requerido, debe ser de entre 10 y 100 caracteres;
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Nombre del Producto" formControlName="productName">
        <mat-error *ngIf="!name.valid && name.touched">
          {{ titleAlert }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Modelo" formControlName="model"  >
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Cantidad Disponible(Stock)" formControlName="stock">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Precio" formControlName="unitPrice">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Moneda" formControlName="currency">
      </mat-form-field>

      <mat-form-field class="form-element">
        <input matInput placeholder="Weight" formControlName="weight">
      </mat-form-field>
  
      

  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" >Guardar</button>
      </div>
      
    </form>
  </div>
  
  
